<div class="row" *ngIf="examInfoA && !examInfoA.loading" #examLoaded>
    <div class="col">
        <h1>Welcome to the exam
            <span #examName>{{examInfoA.data.name}}</span>
        </h1>
        <p #examDescription>{{examInfoA.data.description}}</p>
        <p>You have
            <span #examDuration>{{examInfoA.data.duration | exmSec2Time}}</span> to answer all que questions.
            <br /> Select the start button whenever you're ready.</p>
        <button type="button" class="btn btn-primary" (click)="onStart($event)" [disabled]="startDisabled">Start</button>

    </div>
</div>

<div class="row" *ngIf="!examInfoA || examInfoA.loading" #loadingExam>
    <div class="col">
        Loading Exam...<br />
        <ngb-progressbar type="success" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
    </div>
</div>