<ng-container *ngIf="!examInfoA.loading && question" >
    <div class="row" #examLoaded>
        <div class="col-6">
            <h1>{{question.title}}</h1>
        </div>
        <div class="col-6 text-right">
                <div>Question {{questionNum}} of {{numQuestions}}</div>
                <div class="timer">Time left: {{timeLeft | exmSec2Time}}</div>
            </div>
        </div>
    <div class="row">
        <div class="col">
            <p>{{question.description}}</p>
            <ul *ngFor="let answer of question.answers" class="list-unstyled px-3">
                <li>
                    <label>
                        <input type="checkbox" *ngIf="question.multichoice"
                            (click)="onChangeAnswer($event, answer.num)"
                            [checked]="answer.checked" />
                        <input type="radio" *ngIf="!question.multichoice" name="answer"
                            (click)="onChangeAnswer($event, answer.num)"
                            [checked]="answer.checked" />
                        {{answer.text}}</label></li>
            </ul>
            <button type="button" class="btn btn-primary"
                (click)="onGo($event, -1)"
                [disabled]="questionNum <= 1">Previous</button>
            <button type="button" class="btn btn-primary"
                (click)="onGo($event, 1)"
                [disabled]="questionNum >= numQuestions">Next</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger"
                (click)="onSubmit($event)">Submit Exam</button>
            
        </div>
    </div>
</ng-container>


