/* You can add global styles to this file, and also import other style files */

$h1-font-size: 1.75rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.25rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 1rem !default;


@import '~bootstrap/scss/bootstrap.scss';
